apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: issuance-data-pvc
  namespace: kube-credential
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
---